node_modules/
vagrant/.vagrant
vagrant/*.log
wp-*
!wp-content
wp-content/*
!wp-content/themes
wp-content/themes/*
!wp-content/themes/commbible
wp-content/themes/commbible/style.css
index.php
license.txt
readme.html
xmlrpc.php