node_modules/
vagrant/.vagrant
vagrant/*.log
wp-*
!wp-content
wp-content/*
!wp-content/themes
wp-content/themes/*
!wp-content/themes/commbible
!wp-content/themes/commbible/style.css
wp-content/themes/commbible/style.css.map
index.php
license.txt
readme.html
xmlrpc.php
.htaccess
.env
.DS_Store
